$primary: #FD2D01;
$secondary: #FFD7D7;
$tertiary: #4E5166;
$black: #000;
$white: #fff;
$background: #1c1c1c;
$shadow: 1px 1px 3px $secondary;
$shadowsecond: 2px 2px 5px $white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  font-family: lato;
}

body {
  background-color: $background;
  color: $white;
  margin: auto;
  max-width: 1440px;
  border: 5px solid $background;
}

a,
a:visited {
  color: $secondary;
  text-decoration: none;

  &:hover {
    color: #FD2D01;
  }
}

.error {
  color: $primary;
  font-weight: bold;
  text-align: center;
}
.success {
  color: $secondary;
  font-weight: bold;
  text-align: center;
}