.home-container {

    .user-container{
        
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: $background;
        border-top: 1px solid $white;
        color: $white;
        margin: 10px 0 5px 0;
        border-radius: 10px 10px 0 0;
    
        h2{
            margin-top: 10px;
        }

        img {
            width:30%;
            margin: 10px;
            border-radius: 10px;
            box-shadow: 2px 2px 5px $white;
        }
    }
}

//TABLETTE STYLE
@media (min-width:768px) {
    .home-container {
        display: flex;

        
        .user-container{
            
            border-left: 1px solid $white;
            border-top: none;
            width: 300px;
            margin: 20px 5px 0 0px;
            border-radius: 10px 0 0 10px;
            text-align: center;

            h2{
                margin: 0 0 10px 0;
            }
            img {
                width:50%;
                border-radius: 10px;
            }
        }
    }
}

//DESKTOP STYLE
@media (min-width: 992px) {
    .home-container {
        .user-container{
            
            width: 300px;
            margin: 20px 5px 0 0px;
            border-radius: 10px 0 0 10px;
            text-align: center;

            img {
                width:60%;

            }
        }
    }
}
