.log-container {
        
    img {
        width: 100%;
        border-radius: 10px;
    }

    form {

        display: flex;
        flex-direction: column;
        text-align: left;
        }

    h1{
        text-align: center;
        margin: 10px 0;
    }

    input {
        border-radius: 10px;
        height: 35px;
        margin: 10px 0;
        text-align: left;
        text-indent: 10px;
        border: $white solid 1px;
        background-color: $background;
        color: $white;
        
        &:focus{
            border: $primary solid 1px;
            outline: none;
        }
    }
    .button {
        background: $primary;
        color: $black;
        margin:10px 0;
        border-radius: 10px;
        border: $secondary solid 1px;
        height: 40px;
        font-weight: 600;
        box-shadow: $shadow;
        display: flex;
        justify-content: center;
        text-align: center;
        cursor: pointer;
    
        &:hover{
            outline: none;
            border: $primary solid 1px;
            background-color: $secondary;
            box-shadow: none;
        }
    }
    a {
        color: #FFD7D7;
        display: block;
        margin: 10px;
        text-align: center;
    }

    .conditions {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            width:18px;
            padding: 10px;
            cursor: pointer;
        }
    }
}


//TABLETTE STYLE
@media (min-width:768px) {
    .log-container {
        
        display: flex;
        align-items: center;
    
        img {

            margin: 5px;
        }
    
        form {
            width: 280px;
            margin: 0 20px;
        }
    }
}

//DESKTOP STYLE
@media (min-width: 992px) {
    .log-container {

        img {

            max-width: 800px;
        }
        form {
            width: 400px;

        }
    }
}