.profil-container {
    
    p{
        color:$primary;
        text-align: center;
        margin: 10px 0 0 0;
    }
    h2 {
        margin: 10px 0 5px 0;
        text-align: center;
        background-color: $background;
        border-top: 1px solid $white;
        border-radius: 10px 10px 0 0;
        padding: 10px;
    }
    .update-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
            width: 100%;
            border-radius: 0;
        }

        .upload-pic {
            border-radius: 0 0 10px 10px;
            background-color: $secondary;
            color: $black;
            width: 100%;
            margin: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;


            label {
                margin: 10px;
                font-size: 22px;
            }
            [type="file"] {
                text-align: center;
            }

            [type="submit"] {
                    background: $primary;
                    color: $black;
                    margin:10px;
                    padding: 10px;
                    border-radius: 10px;
                    border: $secondary solid 1px;
                    height: 40px;
                    font-weight: 600;
                    box-shadow: $shadow;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                
                    &:hover{
                        outline: none;
                        border: $primary solid 1px;
                        background-color: $secondary;
                        box-shadow: none;
                    }
                }
            
        }
    }
}

//TABLETTE STYLE
@media (min-width:768px) {
    .profil-container {
 
        .update-container {
            flex-direction: row;
    
            img {
                border-radius: 0px 0px 0 10px;
                height: 250px;
                width: 250px
            }
    
            .upload-pic {
                border-radius: 0 0px 10px 0px;
                margin: 0 0 0 5px;
                height: 250px;
                padding: 50px 0;
            }
        }
    }
}

//DESKTOP STYLE
@media (min-width: 992px) {
    .profil-container {
 
        .update-container {

    
            img {
                border-radius: 0px 0px 0 10px;
                height: 400px;
                width: 400px
            }
    
            .upload-pic {
                border-radius: 0 0px 10px 0px;
                margin: 0 0 0 5px;
                height: 400px;
                padding: 120px 0;
            }
        }
    }
}