//CARD STYLES

//PHONE STYLE
.card-container {
    color: $black;
    margin: 40px 0;

    .header-card {
        background-color: $background;
        border-top: 1px solid $white;
        color: $white;
        display: flex;
        align-items: center;
        border-radius: 10px 10px 0 0;

        img{
            width: 15%;
            margin: 10px;
            border-radius: 10px;
            box-shadow: 2px 2px 5px $white;
        }
    }

    p {
        color: $black;
        margin: 0px 0;
        text-align: center;
        padding: 5px 40px;
        font-size: 18px;
    }
    .background-img {
        background-color: $white;
    }
    .card-pic {
        display: flex;
        text-align: center;
        margin: 0 auto;
        max-width: 100%;
    }

    .icon-container {
        background-color: $secondary;
        display: flex;
        align-items: center;
        justify-content:space-around;
        padding: 5px 0 5px 0;
        border-radius: 0 0 10px 10px;
        
        img {
            width: 18px;
            height: 18px;
            cursor:pointer;
            margin: 10px 20px;
          }


        .button-user {
            display: flex;
            margin: 0 20px 0 0;
                
        }
        .card-footer{
            display: flex;
            align-items: center;    
            
            img {
                margin:10px;
            }

            .comment-icon{
                display: flex;
                align-items: center;
                margin: 0 10px;
            }
            .like-container {
                display: flex;
                align-items: center;
                margin: 0 10px;

            }
            
        }
    }

    .update-post {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $white;
        margin: 5px 0;
    
        textarea{
            width: 100%;
            text-align: center;
            padding: 18px;
            background-color: $white;
            
        }

        .button {
            background: $primary;
            color: $black;
            margin:5px 0px;
            border-radius: 10px;
            border: $secondary solid 1px;
            width: 22%;
            height: 30px;
            font-weight: 600;
            box-shadow: $shadow;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            cursor: pointer;
            
            &:hover{
                        outline: none;
                        border: $primary solid 1px;
                        background-color: $secondary;
                        box-shadow: none;
                    }
            }
    }



    .comments-container {
        background-color: $secondary;
        margin-top: -10px;
        border-radius: 0 0 10px 10px;
        p {
            text-align: left;
            padding-left: 10px;
        }
        
        .separ-comment {
            
            border-bottom: 5px solid $background;
        }

        .comment-supp{
            display: flex;
            align-items: center;

            img {
                width: 15%;
                margin: 10px;
                border-radius: 10px;
                box-shadow: 2px 2px 5px $background;
            }    
        }
    
        .edit-comment{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px 0;

            img{
                width: 18px;
                height: 18px;
                margin:5px 10px 10px 10px;
                cursor: pointer;
            }

            form {
                background-color: $secondary;
                color: $white;
                width: 90%;
                border-radius: 10px;
                h3 {
                    margin: 5px 0 15px 0;
                    border-radius: 10px;
                    background-color: $background;
                }

            }
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: $white;
            border-radius: 0 0 10px 10px;
            margin: 20px 0;
            
            h3 {
                margin: -20px 0 0 0;
                padding-top: 10px;
                background-color: $white;
                width: 100%;
            }

            [type="text"]{
                text-align: center;
                width: 100%;
                padding: 18px;
                font-size: medium;
                margin: 0 0 0 0;
            }

            [type="submit"] {
            background: $primary;
            color: $black;
            margin:10px 0px;
            padding: 0 10px;
            border-radius: 10px;
            border: $secondary solid 1px;
            width: 30%;
            height: 30px;
            font-weight: 600;
            box-shadow: $shadow;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            cursor: pointer;

            &:hover{
                    outline: none;
                    border: $primary solid 1px;
                    background-color: $secondary;
                    box-shadow: none;
                }
            }

            .trash-button {
                background-color: $secondary;
                border-radius: 0 0 10px 10px;
                border-top: $black 5px solid;
            }

            .modif-button {
            background: $primary;
            color: $black;
            margin:10px 0px;
            padding: 0 20px;
            border-radius: 10px;
            border: $secondary solid 1px;
            width: 100%;
            height: 30px;
            font-weight: 600;
            box-shadow: $shadow;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            
            }
        }
    }
}

//TABLETTE STYLE
@media (min-width:768px) {
    .card-container {

        .header-card {
            img{
                width: 10%;
            }
        }
        .card-pic {
            display: flex;
            text-align: center;
            margin: 0 auto 5px auto;
            max-height: 300px;
            
        }

        .icon-container {
            justify-content:center;
            
            img {
                margin: 10px 60px;
              }
    
    
            .button-user {
                margin: 0 0px 0 0 ;
                    
            }
            .card-footer{

    
                .comment-icon{
                    margin: 0 60px;
                }
                .like-container {
                    margin: 0 60px;
                }
            }
        }
    
        .comments-container {

            .edit-comment{
                form {
                    width: 80%;
                }
            }
            .comment-supp{
    
                img {
                    width: 10%;
                }    
            }
        }
    }
}

// //DESKTOP STYLE
@media (min-width:992px) {
    .card-container {

        .header-card {
            img{
                width: 10%;
            }
        }
    }
}